/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	GramBlast
VERSION:	1.0.0
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
body {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

p {
  letter-spacing: .5px;
  color: #777777;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
  color: #000;
  font-weight: 700;
}

h1, .h1 {
  font-size: 55px;
}

h2, .h2 {
  font-size: 40px;
}

h3, .h3 {
  font-size: 34px;
}

h4, .h4 {
  font-size: 24px;
}

h5, .h5 {
  font-size: 20px;
}

h6, .h6 {
  font-size: 18px;
}

.btn {
  font-size: 16px;
  border-radius: 4px;
  padding: 18px 55px;
  border: none;
  letter-spacing: 1px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  transition: .3s ease;
}

.btn:hover {
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: #22d5da;
  color: #fff;
}

.btn-primary:hover {
  background: #22d5da;
  color: #fff;
}

.btn-secondary {
  background: #c7a7f7;
  color: #fff;
}

.btn-secondary:hover {
  background: #c7a7f7;
  color: #fff;
}

.btn-sm {
  padding: 15px 30px;
}

.btn-lg {
  padding: 15px 80px;
}

.btn-white {
  background: #fff;
  color: #22d5da;
}

body {
  background: #fafafa;
}

.section {
  padding: 100px 0;
}

.section__title-center {
  margin-bottom: 80px;
  position: relative;
}

.section__title-center::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 10px;
  bottom: -17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #c7a7f7;
  border-radius: 10px;
}

a {
  color: #22d5da;
}

.main-shadow {
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
}

.page__header {
  padding: 200px 0 100px;
  background-image: linear-gradient(120deg, #9795f0, #fbc8d4);
}

.page__title {
  color: #fff;
  margin-bottom: 30px;
}

.page__breadcrumb li {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 18px;
}

.page__breadcrumb li a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: .3s ease;
}

.page__breadcrumb li a i {
  font-size: 14px;
  display: inline-block;
}

a {
  color: #22d5da;
}

a:hover {
  color: #22d5da;
}

.text-link {
  border-bottom: 1px dotted #22d5da;
}

.text-link:hover {
  border-bottom: 1px solid #22d5da;
  text-decoration: none;
}

.bg-primary-gradient {
  background-image: linear-gradient(120deg, #9795f0, #fbc8d4);
}

.form-control {
  height: 55px;
  font-size: 14px;
  padding: 10px 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #22d5da;
}

textarea.form-control {
  height: auto;
}

.bg-primary {
  background: #22d5da !important;
}

.bg-secondary {
  background: #c7a7f7 !important;
}

.main-nav {
  padding: 25px 30px;
  transition: .3s ease .02s;
}

.main-nav .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.main-nav .navbar-brand {
  margin-right: 0;
  text-align: center;
}

.main-nav .navbar-brand img {
  max-width: 150px;
}

.main-nav .dropdown-menu {
  padding: 10px;
  border: none;
  border-radius: 4px;
  max-width: 350px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
}

.main-nav .dropdown-menu .dropdown-item {
  font-family: "Ubuntu", sans-serif;
  color: #777777;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
}

.main-nav .navbar-toggler {
  outline: 0;
}

.main-nav.nav-bg {
  background: #22d5da;
  padding: 20px;
  border: none;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
}

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .8s ease-in-out;
}

.headroom--unpinned {
  top: -500px;
}

@media (max-width: 991px) {
  .headroom--unpinned {
    top: 0;
  }
}

.headroom--pinned {
  top: 0;
}

.hero__area {
  padding: 200px 0 150px;
  background-image: linear-gradient(120deg, #9795f0, #fbc8d4);
  position: relative;
}

.hero__area-content h2, .hero__area-content p {
  color: #fff;
}

.hero__area-content h2 {
  margin-bottom: 20px;
}

.hero__area-content p {
  width: 70%;
  margin-bottom: 30px;
}

.hero__area-images {
  position: relative;
  height: 630px;
}

.hero__area-images .floating-illu {
  position: absolute;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
}

.hero__area-images .large {
  top: 0;
  right: 0;
}

.hero__area-images .large img {
  width: 280px;
}

.hero__area-images .medium {
  left: 0;
  bottom: 40px;
}

.hero__area-images .medium img {
  width: 270px;
}

.hero__area-images .small {
  right: 20px;
  bottom: 0;
}

.hero__area-images .small img {
  width: 300px;
}

.hero__area .scroll__down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
  z-index: 2;
  text-align: center;
}

.hero__area .scroll__down:hover {
  text-decoration: none;
}

.hero__area .scroll__down i {
  font-size: 30px;
  color: #fff;
  animation: updown .8s ease-in infinite alternate-reverse;
}

.hero__area .scroll__down span {
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 3px;
}

.hero__area .scroll__down span, .hero__area .scroll__down i {
  display: block;
}

.hero__area .bottom-curve {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.hero__area .bottom-curve img {
  width: 100%;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.service {
  padding: 100px 0;
}

.service__item {
  padding: 100px 0;
}

.service__content h3 {
  margin-bottom: 30px;
}

.service__content p {
  margin-bottom: 30px;
}

.service__image {
  position: relative;
  height: 450px;
}

.service__image .image {
  position: absolute;
}

.service__image .image img {
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
}

.service__image.followers .right {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.service__image.followers .left-top {
  bottom: 250px;
  left: 0;
}

.service__image.followers .left-top img {
  border-radius: 100px;
  max-width: 175px;
}

.service__image.followers .left-middle {
  bottom: 185px;
  left: 185px;
}

.service__image.followers .left-middle img {
  border-radius: 100px;
  max-width: 175px;
}

.service__image.followers .left-bottom {
  bottom: 100px;
  left: 20px;
}

.service__image.followers .left-bottom img {
  border-radius: 100px;
  max-width: 175px;
}

.service__image.likes .left {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.service__image.likes .right {
  right: 0;
  bottom: 0;
}

.service__image.likes .right img {
  max-width: 350px;
}

.service__title-secondary {
  position: relative;
}

.service__title-secondary::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 10px;
  background-color: #c7a7f7;
  z-index: -1;
  border-radius: 10px;
  bottom: -15px;
  left: 0;
}

.service__title-primary {
  position: relative;
}

.service__title-primary::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 10px;
  background-color: #22d5da;
  z-index: -1;
  border-radius: 10px;
  bottom: -15px;
  right: 0;
}

/* ==================================================================================
somrat starts from here
===================================================================================== */
.features__item {
  margin-bottom: 100px;
}

.features__image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}

.features__image.blue {
  background: #EEF1FF;
}

.features__image.transparent {
  width: 230px;
  background: none;
}

.features__image.pink {
  background: #FBEEFF;
}

.features__image.violet {
  background: #F6EEFF;
}

.icon {
  position: absolute;
  width: auto;
  height: 60px;
  border-radius: 100px;
  box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15);
}

.icon.squre {
  border-radius: 8px;
}

.icon-post {
  border-radius: 8px;
  box-shadow: 0 7px 14px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-left {
  left: 0;
  top: 0px;
}

.icon-middle {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icon-right {
  right: 0;
  bottom: 0;
}

.icon-middle-right {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-middle-right-2 {
  right: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon-left-bottom {
  left: 0;
  bottom: 0;
}

.icon-semitop-left {
  top: 30px;
  left: -5px;
}

.icon-semibottom-right {
  bottom: 30px;
  right: -5px;
}

.delay-dot {
  left: -20px;
  bottom: -10px;
}

.support-dot {
  left: -20px;
  top: 30px;
}

.support-dot-2 {
  right: -20px;
  bottom: -10px;
}

.instant-dot {
  bottom: 0px;
  right: -20px;
}

.testimonial__slider {
  border-radius: 10px;
  background: #fff;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  padding: 25px 40px;
  margin-bottom: 30px;
}

.testimonial__slider .prevArrow,
.testimonial__slider .nextArrow {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 0;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

.testimonial__slider .prevArrow {
  left: -50px;
}

.testimonial__slider .nextArrow {
  right: -50px;
}

.testimonial__slides {
  outline: 0;
}

.testimonial__slides h6 {
  margin-bottom: 10px;
}

.testimonial__slides p {
  margin-bottom: 10px;
}

.testimonial__slides ul li i {
  color: #22d5da;
  font-size: 16px;
}

.testimonial__slides span {
  color: #acacac;
}

.rating-star li {
  margin: 0 10px;
}

.rating-star li i {
  color: #fff;
  font-size: 40px;
}

.buy__steps {
  background: #fff;
  text-align: center;
  padding: 40px 10px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 50px;
}

.expect__list li {
  margin: 0 25px;
}

.expect__list img {
  height: 30px;
  width: auto;
}

.our__service {
  margin-bottom: 50px;
}

.our__service h4 {
  margin-bottom: 20px;
}

.pricing__item {
  background: #fff;
  text-align: center;
  padding: 100px 50px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.pricing__item h4 {
  margin-bottom: 40px;
}

.pricing__item h4 span {
  font-weight: 300;
}

.pricing__item h2 {
  margin-bottom: 50px;
}

.pricing__item h2 span {
  font-size: 25px;
  font-weight: 300;
  vertical-align: text-top;
}

.pricing__item h6 {
  margin-top: -31px;
}

.pricing__item ul {
  margin-bottom: 50px;
}

.pricing__item ul li {
  list-style-type: none;
  margin: 10px 0;
}

.step {
  background-image: linear-gradient(120deg, #9795f0, #fbc8d4);
}

.step .section__title {
  margin-bottom: 100px;
}

.step__item {
  background: #fff;
  padding: 50px 40px;
  border-radius: 6px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 50px;
}

.step__item .number {
  position: absolute;
  font-size: 40px;
  width: 80px;
  height: 80px;
  display: block;
  background: #fff;
  text-align: center;
  line-height: 80px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  top: -30px;
  left: -30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.step__item h3 {
  margin-bottom: 30px;
}

.step .trialbox {
  padding: 50px 20px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
}

.feature__item {
  margin-bottom: 50px;
  background: #fff;
  padding: 35px 45px 30px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

.feature__item i {
  font-size: 40px;
  color: #22d5da;
  display: inline-block;
  margin-bottom: 15px;
}

.feature__item h3 {
  margin-bottom: 10px;
  font-size: 27px;
  color: #1f262e;
}

.feature__item p {
  line-height: 28px;
}

.feature__item.violet {
  border-bottom: 3px solid #c09df6;
}

.feature__item.red {
  border-bottom: 3px solid #f6ae9d;
}

.feature__item.green {
  border-bottom: 3px solid #1ecfd5;
}

.feature__item.orange {
  border-bottom: 3px solid #ffc64c;
}

.feature .cta {
  margin-top: 100px;
}

.feature .cta h3 {
  margin-bottom: 20px;
}

.feature .cta p {
  margin-bottom: 20px;
}

.trial__block {
  background: #fff;
  border-radius: 6px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  padding: 50px;
  position: relative;
}

.trial__block img {
  width: 350px;
  margin-bottom: 50px;
}

.trial__block p {
  margin-bottom: 50px;
}

.trial__block .scroll__down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
  z-index: 2;
  text-align: center;
}

.trial__block .scroll__down:hover {
  text-decoration: none;
}

.trial__block .scroll__down i {
  font-size: 30px;
  color: #22d5da;
  animation: updown .8s ease-in infinite alternate-reverse;
  display: block;
}

.trial__account {
  background: #fff;
  border-radius: 6px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.trial__details {
  background: #fff;
  border-radius: 6px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.trial__details .user {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dedede;
}

.trial__details .user img {
  border-radius: 100%;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.trial__details .user h6 {
  margin-bottom: 20px;
}

.trial__details .posts {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dedede;
}

.trial__details .posts .post-thumb {
  position: relative;
}

.trial__details .posts .post-thumb img {
  border-radius: 6px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
}

.trial__details .posts .post-thumb .like-number {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.trial__details .posts .post-thumb .like-number i, .trial__details .posts .post-thumb .like-number span {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

.trial__details .posts .post-thumb .like-number i {
  margin-right: 10px;
}

.trial__details .posts .post-thumb .like-number span {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.trial__details .order .order-item {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.trial__details .order .order-item img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  margin-right: 20px;
}

.trial__details .order .order-item i {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.trial__submit {
  background: #fff;
  border-radius: 6px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.blog .section__title {
  margin-bottom: 80px;
}

.blog__post {
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 4px 13px 25px 1px rgba(0, 0, 0, 0.1);
}

.blog__post .post-content {
  padding: 30px;
}

.blog__post .post-content .post-title {
  margin-bottom: 20px;
}

.blog__post .post-content .post-title a {
  color: #1f262e;
  font-size: 27px;
  text-decoration: none;
  font-weight: 700;
}

.blog__post .post-content .post-excerpt {
  margin-bottom: 20px;
}

.blog__post .post-content a {
  font-family: "Ubuntu", sans-serif;
  color: #1f262e;
  font-size: 18px;
  font-weight: 500;
}

.blog__post.featured {
  display: flex;
  align-items: center;
  padding: 40px;
}

.blog__post.featured .post-thumb {
  flex-basis: 40%;
}

.blog__post.featured .post-content {
  flex-basis: 60%;
  padding: 0 0 0 40px;
}

.faq__accordion .card {
  background: #fff;
  box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  border: none;
}

.faq__accordion .card .card-header {
  padding: 0;
  background: #fff;
  border: none;
}

.faq__accordion .card .card-header h5 {
  padding: 30px 30px 30px 60px;
  font-size: 24px;
  color: #1f262e;
  cursor: pointer;
  position: relative;
}

.faq__accordion .card .card-header h5::before {
  position: absolute;
  content: "\e64b";
  font-family: "themify";
  left: 25px;
  font-size: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #22d5da;
  transition: .3s ease;
}

.faq__accordion .card .card-header h5.collapsed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.faq__accordion .card .card-body {
  padding: 0 30px 30px 60px;
  color: #777777;
  font-size: 16px;
  line-height: 28px;
}

.footer {
  padding: 110px 0 80px;
}

.footer__links {
  list-style: none;
}

.footer__links a {
  padding: 7px 0;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
}

.footer__copyright {
  padding: 80px 0 0;
}

.footer__copyright p {
  font-size: 14px;
}

/*# sourceMappingURL=maps/style.css.map */
